/* element selectors by parent */
body {
  margin: 0;
}

/* class in alpha order */
.bgc-royalblue {
  background-color: royalblue;
}

.bgc-steelblue {
  background-color: steelblue;
}

.p {
  padding: 1.5rem;
}
.w-100 {
  width: 100%;
}
